.pagina-consultar {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: grey;

    button{
        width: 100px;
        height: 30px;
        font: 600 20px 'Arial';
        border-radius: 5px;
    }

    .header{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }


    table {
        width: 750px;

        th {
            text-align: left;
            padding: 5px;
        }

        td {
            padding: 5px;
            border-top: 1px solid #000;
        }
    }
    
}
